
    <div class="container">
        <br>
        <br>
  
        <div *ngFor = "let vote of votes">
        <div class="col-12">
          <h2>{{vote.vote_title}}</h2>
        </div>
        
        <form (submit) = "adduserVote()">   
        <div class="form-group">
            <fieldset class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                    {{vote.option1}}
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    {{vote.option2}}
                  </label>
                </div>
                <div class="form-check ">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                    {{vote.option3}}
                  </label>
                </div>
                <div class="form-check ">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4">
                        {{vote.option4}}
                      </label>
                    </div>
              </fieldset>
            

              
            
        </div>
        <input type="submit" class="btn btn-primary" value="Add">
    </form>  
          
        </div>
       
        
        <br><br>
      
    </div>
